<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" integrity="sha512-8Tb+T7SKUFQWOPIQCaLDWWe1K/SY8hvHl7brOH8Nz5z1VT8fnf8B+9neoUzmFY3OzkWMMs3OjrwZALgB1oXFBg==" crossorigin="anonymous" />
    <title><%- pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">

</head>
<body>
      <%- include('partials/navbar.ejs') %>
    <div class="page-content">
        <div class="editguild">
          <form action="/manage/<%-guildid%>" method="post">
            <label class = "l1"><i class="server icon"></i>Edit <%= name %></label>
            <label class = "l2"><i class="user icon"></i>Owner <%= owner %> <i class="user icon"></i>Member count <%= count %></label>
            <input placeholder="Channels to create" title = "boy what?" name = "channels" type="text" />
            <input placeholder="Roles to create"  name = "roles" type="text" />
            <button type="submit">Let's Go!</button>
          </form>
        </div>

    </div>
</body>
</html>
